.chat-body{
    margin-top: 120px;
}
.section-chat {
  border: 3px solid;
  margin: 15px;
  width: 50%;
  border-radius: 25px;
  background-color: white;
  
}
.name-heading {
  font-size: 20px;
  font-weight: 500;
  margin-left: 40px;
  max-width: 25%;
}
.count-like {
  margin-left: 256px;
  font-size: 20px;
}
i {
  cursor: pointer;
}
.like-thumb i {
  padding: 2%;
  margin-left: 15px;
  font-size: 22px;
  color: rgb(48, 132, 241);
}

.like-thumb span {
  color: red;
}

.msg-seen {
  display: inline-block;
  width: 350px;
  overflow-wrap: break-word;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  line-height: 1.65;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 9px;
  word-break: break-word;
  font-size: 15px;
  color: black;
}

@media screen and (max-width: 520px) {
  .msg-seen {
    width: 220px;
  }
  .like-thumb {
    margin-left: 40px;
  }
  .like-thumb i {
    margin-top: 5px;
  }
}
