.content-fluid{
    position: relative;
    min-height: 84vh;
  }
  .content-body{
      display: flex;
      justify-content: space-around;
      background-color: #34B7F1;
       padding: 1%;
       position: fixed;
       bottom: 0;
       width: 100%;
   }
   button{
    width:10%;
    min-height: 50px;
    border: 2px solid black;
    background-color:rgb(	37 211 102); ;
    border-radius: 5%;
    }
  .btn-send{
    border-radius: 25px;
    color:white;
  }
  
  @media screen and (max-width: 320px){
    .btn-send span{
            visibility: hidden;
    }
  }
  
  